<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<link rel="icon" href="tnu.jpg">
<title>TNU-The New Used</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <h1> {{title}} </h1> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div style="text-align:right">
       <a style="color:white;" class="btn btn-default" href="/home">Home</a> </div>
      <div class="dropdown">
            <a class="btn btn-default" style="color:white;" id="Products_dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="Products">
              <a class="dropdown-item" href="/product/create"> Create New Product</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> Update Products</a>
               <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/products">Products List</a>
            </div>
          </div>
          </div>
      <div class="dropdown">
            <a class="btn btn-default" style="color:white;" id="Products_dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Brands
            </a>
            <div class="dropdown-menu" aria-labelledby="Brand">
                          <a class="dropdown-item" href="/brandlist"> Brand List </a>
              <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/brand/create"> Create New Brand</a>
            </div>
          </div>
           </div>
      <div class="dropdown">
            <a class="btn btn-default" style="color:white;" id="Products_dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="Categories">
                         <a class="dropdown-item" href="/newarrival"> New Arrival </a>
                          <a class="dropdown-item" href="/men"> Men</a>
                          <a class="dropdown-item" href="/women"> Women</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/categorieslist">Categories List</a>
                           <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/category/create">Create New Category</a>

            </div>    
            </div>
          </div>
    </div>

    <div style="text-align:right">
       <a style="color:white;" class="btn btn-default" href="/customers">Customers</a> </div>
     <div style="text-align:right">
       <a style="color:white;" class="btn btn-default" href="/orders">Orders</a> </div>
</nav>

<br>

<style>
body{
background-color: #138D75  ;
}
</style>
<br>

<br>


<center> <H1> THANK YOU! </H1> 
<h2> Please Check your Email for the details. </h2>
<button class="btn btn-default" onclick="location.href="/home"> OK </button> 

</center>

<br><br><br><br>


<style>
.card-body img{
  width:400px;
}
.footer-outer{
  width: 100% height:100%;
  background-color: #343A40;
}

.footer-inner{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  margin-bottom: 0%;
  padding: 10px;
  text-align: left;
}

.footer-inner .mediaicons img{
  border:3px solid transparent;
 }
 
 .footer-inner .mediaicons img:hover{
  border:3px solid gold;
  border-radius: 100px;
 }

 .footer-inner table tr{
  padding:30px;
 }
.footer-inner table tr #footerdetails a:hover{
  text-decoration: underline;
  color: gold;
}
.footer-inner table tr #footerdetails a:last-child{
  text-decoration: none;
}
</style>
<footer class="footer-outer">
      <div class="footer-inner">
        <table align="center">
        <tr><td id="footerdetails">
        <a style="color:white;" >ABOUT US </a>
        <br>
        <a style="color:white;" >CONTACT US</a>
        <br>
        <a style="color:white;" >COMMENTS AND SUGGESTIONS</a>
        <br><br>
        <a style="color:white;" >©Copyright 2018: Englatera_Kart_Mercado_Maryniel</a>
        </td> 
        
      </div>

    </footer>






