<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<link rel="icon" href="tnu.jpg">
<title>TNU-The New Used</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <h1> {{title}} </h1> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div style="text-align:right">
       <a style="color:white;" class="btn btn-default" href="/home">Home</a>
       <a style="color:white;" class="btn btn-default" href="/products">Products List </a>
    </div>
</nav>

<br>
<style>
body{
background-color: #2471A3;
}
</style>
<br>

<br>

<!-- 1st pic-->
<div class="row" align="center">
  <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,450.00</h5>
    <p class="card-text">M1 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
</form>

<p> Description:M1 COLLECTION</p>
<p> Price: ₱1,450.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="/products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- 2nd pic-->

 <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,560.00</h5>
    <p class="card-text">M2 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  " required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
</form>

<p> Description: M2 COLLECTION</p>
<p> Price: ₱1,560.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- 3rd pic-->
 <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,630.00</h5>
    <p class="card-text">M3 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
</form>

<p> Description: M3 COLLECTION</p>
<p> Price: ₱1,630.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


</div>
<br><br>


<!--4th pic-->
<div class="row" align="center">
  <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,250.00</h5>
    <p class="card-text">M4 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
</form>

<p> Description:M4 COLLECTION</p>
<p> Price: ₱1,250.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="/products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- 5th pic-->

 <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c10.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,500.00</h5>
    <p class="card-text">M5 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  " required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
</form>

<p> Description: M5 COLLECTION</p>
<p> Price: ₱1,500.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- 6th pic-->
 <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c6.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,250.00</h5>
    <p class="card-text">M6 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel6">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
</form>

<p> Description: M6 COLLECTION</p>
<p> Price: ₱1,250.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<br><br>

<!--4th pic-->
<div class="row" align="center">
  <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c7.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,340.00</h5>
    <p class="card-text">M7 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal7">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel7" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel7">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
</form>

<p> Description:M7 COLLECTION</p>
<p> Price: ₱1,340.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="/products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- 5th pic-->

 <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c8.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,280.00</h5>
    <p class="card-text">M8 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal8">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel8" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel8">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  " required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" " required>
  </div>
</form>

<p> Description: M8 COLLECTION</p>
<p> Price: ₱1,280.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- 6th pic-->
 <div class="col-sm-4">
<div class="card"  style="width: 18rem;">
  <img class="card-img-top" src="c9.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">₱1,450.00</h5>
    <p class="card-text">M9 COLLECTION</p>
  </div>
  <div class="card-body">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal9">
  Add to Cart
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel9" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel9">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name (FN, MI, LN) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="  ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email address</label>
    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Contact Number</label>
    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder=" ">
  </div>
</form>

<p> Description: M9 COLLECTION</p>
<p> Price: ₱1,450.00</p>
 
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quantity</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</form>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" href="products">PROCEED</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<br><br>
</div>

<style>
.footer-outer{
  width: 100% height:100%;
  background-color: #343A40;
}

.footer-inner{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  margin-bottom: 0%;
  padding: 10px;
  text-align: left;
}

.footer-inner .mediaicons img{
  border:3px solid transparent;
 }
 
 .footer-inner .mediaicons img:hover{
  border:3px solid gold;
  border-radius: 100px;
 }

 .footer-inner table tr{
  padding:30px;
 }
.footer-inner table tr #footerdetails a:hover{
  text-decoration: underline;
  color: gold;
}
.footer-inner table tr #footerdetails a:last-child{
  text-decoration: none;
}
</style>
<footer class="footer-outer">
      <div class="footer-inner">
        <table align="center">
        <tr><td id="footerdetails">
        <a style="color:white;" >ABOUT US </a>
        <br>
        <a style="color:white;" >CONTACT US</a>
        <br>
        <a style="color:white;" >COMMENTS AND SUGGESTIONS</a>
        <br><br>
        <a style="color:white;" >©Copyright 2018: Englatera_Kart_Mercado_Maryniel</a>
        </td> 
        <td style="text-align: right;">
        <a class="mediaicons" href="http://www.facebook.com" target="_blank"> <img style="height:100px;width:100px;" src="fb.png"></a>
        <a class="mediaicons" href="http://www.gmail.com" target="_blank"><img style="height:100px;width:100px;" src="mail.png"></a>
        <a class="mediaicons" href="http://www.twitter.com" target="_blank"><img style="height:100px;width:100px;" src="twitter.png"></a>
        </td></tr>
        </table>
      </div>

    </footer>





